html, body {
    height: 100%;
}

#not-footer {
    min-height: 100%;
}

#header {
    width: 960px;
    margin: 0 auto;
    margin-top:20px;
}

#header h1 {font-size: 60px;}
#header h1 .subhead {font-size: 30px; font-family:monospace;}

#content-wrapper {
    padding-bottom:150px;
    width: 960px;
    margin: 0 auto;
}

#dice-controls {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
}

#dice-controls .wrapper {
    width: 13%;
    float: left;
    margin-left: 4px;
}

#dice-controls .wrapper:first-child {
    margin-left: 0;
}

#dice-controls .wrapper .die {
    width: 100%;
}

#dice-controls .wrapper .dec, #dice-controls .wrapper .inc {
    width: 49%;
    display: none;
}

#dice-controls #dn {
    font-weight: bold;
}

#toggle-advanced {
    width: 960px;
    margin: 0 auto;
}

#rolling {
    margin: 0 auto;
    margin-top: 100px;
    font-size: 48px;
    text-align: center;
}

#results {
    margin: 0 auto;
    margin-top: 100px;
}

#results .roll {
    font-size: 48px;
    text-align: center;
}

#results .roll .number {font-size:64px; font-weight:bold;}
#results .roll. .die {font-weight: bold;}

#results .footnote {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

#results .footnote .twitter-share-button {
    font-size: 18px;
    font-style: normal;
}

#footer {
    width: 960px;
    margin: 0 auto;
    margin-top: -150px;
    height: 150px;
    clear: both;
}
