{% extends 'base.html' %}

{% block content %}
<a href="javascript:roll({'d4':1});">Roll 1d4</a>
<a href="javascript:roll({'d6':1});">Roll 1d6</a>
<a href="javascript:roll({'d8':1});">Roll 1d8</a>
<a href="javascript:roll({'d10':1});">Roll 1d10</a>
<a href="javascript:roll({'d12':1});">Roll 1d12</a>
<a href="javascript:roll({'d20':1});">Roll 1d20</a>
<div id="results" style="display:none;">
    <p>You rolled <span class="number"></span> on <span class="die"></span>.</p>
    <p>Roll made at <span class="timestamp"></span> (<span class="age"></span> ago).</p>
</div>
{% endblock %}
{% block extra_foot %}
<script type="text/javascript" src="/js/iso8601.js"></script>
<script type="text/javascript" src="/js/roll.js"></script>
{% endblock %}
