{% extends 'base.html' %}

{% block content %}
<div id="dice-controls">
    <button id="d4" class="die" onclick="roll({'d4':1});">1d4</button>
    <button id="d6" class="die" onclick="roll({'d6':1});">1d6</button>
    <button id="d8" class="die" onclick="roll({'d8':1});">1d8</button>
    <button id="d10" class="die" onclick="roll({'d10':1});">1d10</button>
    <button id="d12" class="die" onclick="roll({'d12':1});">1d12</button>
    <button id="d20" class="die" onclick="roll({'d20':1});">1d20</button>
</div>
<div id="results" style="display:none;">
    <div class="roll">You rolled <span class="number"></span> on <span class="die"></span></div>
    <div class="footnote">Roll made <span class="age"></span>.</div>
</div>
{% endblock %}
{% block extra_foot %}
<script type="text/javascript" src="/js/iso8601.js"></script>
<script type="text/javascript" src="/js/roll.js"></script>
{% endblock %}
